+++
title = "Goldydocs"
linkTitle = "Goldydocs"
+++

{{< blocks/cover title="GM-Companion" height="min" color="primary" >}}
<div class="mx-auto">
    <p>A free and open-source tool for tabletop rpg gamemasters.</p><br>
	<a class="btn btn-lg btn-secondary mb-4" href="/docs/install">
		Download <i class="fas fa-download ml-2 "></i>
	</a>
    <a class="btn btn-lg btn-secondary mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>

{{< /blocks/cover >}}

{{< blocks/section color="white">}}

{{% feature-image icon="fa-music" title="Music" image="/images/audio-tool-01.png" %}}

{{% feature-image icon="fa-map-marked-alt" title="Maps" image="/images/map-tool-02.png" %}}

{{% feature-image icon="fa-dice-d20" title="Dice" image="/images/dice-tool-01.png" %}}

{{% feature-image icon="fa-book-dead" title="Combat Tracker" image="/images/combat-tracker-01.png" %}}

{{% feature-image icon="fa-shopping-cart" title="Item Shops" image="/images/shop-tool-01.png" %}}

{{% feature-image icon="fa-address-card" title="Character Overview" image="/images/character-tool-01.png" %}}

{{% feature-image icon="fa-industry" title="Name Generator" image="/images/name-generator-01.png" %}}

{{% feature-image icon="fa-book" title="Notes" image="/images/notes-tool-01.png" %}}

{{% feature-image icon="fa-balance-scale" title="Unit Converter" image="/images/converter-tool-01.png" %}}

{{< /blocks/section>}}


{{< blocks/section color="dark" >}} 

{{% blocks/feature icon="fab fa-linux" title="Linux" url="/docs/install/linux" %}}
Available as **AppImage** and from the **AUR**!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-windows" title="Windows" url="/docs/install/windows" %}}
Available as portable 64-bit Windows executable!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Free Software" url="https://github.com/philinthegaps/gm-companion" %}}
GM-Companion is licensed under GPL v3 and the source code is available on
[**GitHub**](https://github.com/philinthegaps/gm-companion). Contributions are welcome!
{{% /blocks/feature %}}

{{< /blocks/section>}}


<!-- {{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}} -->