<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
    <!-- Website Template designed by www.downloadwebsitetemplates.co.uk -->
    <!-- Modified to fit Cryogen.-->
    <meta charset="UTF-8">
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57.png">
    <link rel="shortcut icon" href="img/favicon.ico">
    <!--[if IE]><![endif]-->
    {% style "css/buttons.css" %}
    {% style "css/menu.css" %}
    {% style "css/reset.css" %}
    {% style "css/style.css" %}
    {% style "css/typography.css" %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/tomorrow-night-eighties.min.css">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<div id="left">

    <p id="logo">
        <a title="{{title}}" href="{{index-uri}}">
			<span style="text-align: center">
			<img style="border-radius: 50%; width: 128px;" src="/img/icon256.png"></span>
            <span class="text">GM-Companion</span>
        </a>
    </p>
	
    <div id="menucont" class="bodycontainer clearfix">
        <div class="menutitle">
            <p><span class="fa fa-reorder"></span><strong>Menu</strong></p>
        </div>
        <ul class="menu">
            <li {% if home %} class="active" {% endif %}><a title="Home" href="{{index-uri}}">Home</a></li>
			<li {% if github %} class="active" {% endif %}><a title="View on GitHub" href="https://github.com/PhilInTheGaps/GM-Companion">View on GitHub</a></li>
			<li {% if documentation %} class="active" {% endif %}><a title="Documentation" href="https://github.com/PhilInTheGaps/GM-Companion/wiki">Documentation</a></li>
			<!--<li {% if download %} class="active" {% endif %}><a title="Download" href="https://github.com/PhilInTheGaps/GM-Companion/releases">Download</a></li>-->
			{% for nav-page in navbar-pages %}
            <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
                <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
            </li>
            {% endfor %}
            
            <li {% if archives %} class="active" {% endif %}><a title="Archives" href="{{archives-uri}}">Archives</a></li>
            {% if tags|not-empty %}
            <li {%ifequal uri tags-uri %} class="active" {% endifequal %}><a title="Tags" href="{{tags-uri}}">Tags</a></li>
            {% endif %}
        </ul>
    </div>
	
    <div id="socialmedia" class="clearfix">
        <ul>
            <li><a title="GitHub" href="https://github.com/philinthegaps/gm-companion" rel="external"><span class="fa fa-github"></span></a></li>
            <li><a title="Launchpad Repository" href="https://launchpad.net/~rophil/+archive/ubuntu/gm-companion" rel="external"><span class="fa fa-linux"></span></a></li>
			<li><a title="RSS" href="{{rss-uri}}" rel="external"><span class="fa fa-rss"></span></a></li>
        </ul>
    </div>

</div>

<div id="right" class="clearfix">
    {% block content %}
    {% endblock %}
<hr/>
<div id="footercont" class="clearfix">Copyright &copy; {{today|date:yyyy}} {{author}}
    <p>Powered by <a href="http://cryogenweb.org">Cryogen</a> | Website Template: <a title="Nucleus:" href="http://www.downloadwebsitetemplates.co.uk/template/nucleus/" rel="external">Nucleus</a></p>

</div>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{% script "js/highlight.pack.js" %}
<script>hljs.initHighlightingOnLoad();</script>
{% script "js/scripts.js" %}
{% if post.klipse %} {{post.klipse|safe}} {% endif %}
{% if page.klipse %} {{page.klipse|safe}} {% endif %}
</body>
</html>
